name: CI

on:
  push:
    branches: [ master, develop ]
  pull_request:
    branches: [ master, develop ]

jobs:
  build-linux:
    runs-on: ubuntu-22.04
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Install packages
      run: |
        sudo apt update
        sudo apt install -y ninja-build libasound2-dev libavcodec-dev libavformat-dev libavutil-dev libboost-dev libcurl4-openssl-dev libgtk-3-dev libgif-dev libglu1-mesa-dev libharfbuzz-dev libmpg123-dev libopencv-dev libopus-dev libopusfile-dev libsoundtouch-dev libswresample-dev libtiff-dev libturbojpeg0-dev libvorbis-dev libwebp-dev libxft-dev uuid-dev xorg-dev
    
    - name: Download and Install Siv3D
      run: |
        wget https://github.com/Siv3D/OpenSiv3D/releases/download/v0.6.16/Siv3D_v0.6.16_Linux.tar.gz
        tar -xzf Siv3D_v0.6.16_Linux.tar.gz
        sudo cp -r Siv3D/include/Siv3D /usr/local/include/
        sudo cp -r Siv3D/include/ThirdParty /usr/local/include/
        sudo cp -r Siv3D/lib/* /usr/local/lib/
        sudo cp -r Siv3D/share/* /usr/local/share/
        sudo ldconfig
        
    - name: Configure CoTaskLibTests
      working-directory: tests/CoTaskLibTests
      run: |
        mkdir build && cd build
        cmake -GNinja -DCMAKE_BUILD_TYPE=RelWithDebInfo ..
        
    - name: Build CoTaskLibTests
      working-directory: tests/CoTaskLibTests
      run: |
        cmake --build build
        
    - name: Run CoTaskLibTests
      working-directory: tests/CoTaskLibTests
      run: |
        cd build
        export DISPLAY=:99
        sudo Xvfb :99 -screen 0 1280x720x24 > /dev/null 2>&1 &
        sleep 3
        ./CoTaskLibTest